body{
	background-color:#bedfef ;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	max-width: 400px;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

p{
	font-size: 17px;
	font-family: fanta;
	line-height: 1.65;
}

div{
	background-color:#e3f6ff ;
	width: 70%;
	margin: auto;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 1.2);
	padding: 50px;


}